{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "@lacussoft"
  ],
  "ignorePatterns": [
    "docs/",
    "public/"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-magic-numbers": "off",
    "no-underscore-dangle": "off"
  }
}
